@import 'normalize.css';
@import '../base-style/c3.scss';
$brand-color: #004f68;
$btn-disabled-color: #6a6a6a;
$btn-disabled-bg-color: #ececec;
$btn-disabled-shadow-color: #bdbdbd;
$btn-hover-color: #187d97;
$btn-shadow-color: #005067;
$font-color:#007FA3;
$font-size:14px;
$font-sizeText:18px;
* {
    font-family: Helvetica, sans-serif;
}





.c3__header{
    font-size: 36px;
    background: white;
    color: $font-color;
    font-weight: 300;
    padding: 50px 20px 20px 20px;
}

.c3__main {
    margin: 0 auto;
    max-width: 940px;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    background:#d8d8d8;
    .c3__container {
        display:flex;
        margin:37px;
        flex-wrap: wrap;

        justify-content:center;
        
    }
    
}
.c3__user{
    margin:37px;
    background:white;
    text-align:center;
    width:212px;
    height:212px;
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    
   
    
   .c3__img {
      width:80px;
      height:80px;
      border-radius:50%;
      position:relative;
      left:28%;
      bottom:20%;
    }
    
    .c3__delete{
      text-align:left;
      margin:10px;
      font-size:$font-size;
      color:$font-color;
      text-decoration:none;
      margin-top: 80px;
      cursor:pointer;
    }
    
   .c3__title{
      font-size:$font-sizeText;
      color:#e93939;
   }
}
.c3__button {
    width: 218px;
    height: 42px;
    border-radius: 3px;
    margin: 1px;
    background-color: $brand-color;
    color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        background-color: $btn-hover-color;
        box-shadow: 0 2px 0 0 $btn-shadow-color;
        color: #fefefe;
    }
    &:disabled {
        background-color: $btn-disabled-bg-color;
        box-shadow: 0 2px 0 0 $btn-disabled-shadow-color;
        color: $btn-disabled-color;
        cursor: not-allowed;
    }
}

.c3__userform{   
       background: white;

.c3__Form {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 20px 20px;
    
    
    
    .c3__label{
      font-size:$font-size;
      color:$font-color;
      margin-bottom:12px;
       margin-top: 12px;
    }
    
    .c3__input{
      font-size:16px;
      border:1px solid #979797;
      width:323px;
      height:33px;
      border-radius: 50px;
      
      
    }
   
    
    .c3__btn {
        font-size:$font-sizeText;
        background-color:$font-color;
      color:white;
      width:149px;
      height:44px;
      margin-top:22px;
      text-align: center;
      border-radius:50px;


    }
  }
}


